@model IEnumerable<recipes.Models.Category>
<section class="banner-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 data-aos="fade-left" data-aos-delay="300">Yemek Tariflerine Hoşgeldiniz</h1><br>
                <h2 data-aos="fade-left" data-aos-delay="500">Çok Lezzetli Yemek Tarifleri</h2>
                <h4 data-aos="fade-left" data-aos-delay="700">İnternetteki en iyi yemek tarifleri <span>tariflere bir gözatıp deneyin </span></h4>
                <p data-aos="fade-left" data-aos-delay="900">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><span>Yemektarifleri.com</span>
                </p>
                <p data-aos="fade-left" data-aos-delay="900">
                    
                <i class="fa fa-phone" aria-hidden="true"></i><span>0542 123 45 67</span>
                </p>
                <a class="btn btn-success" href="recipes.html" role="button" data-aos="fade-up" data-aos-delay="1000">Tariflere Gözat</a>
            </div>
        </div>
    </div>
</section>
<section class="testimonial">
    <div id="carousel">
        <div class="container">
            <div class="quote" style="float: left;"><i class="fa fa-quote-left fa-5x" aria-hidden="true"></i></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading" data-aos="fade-up" data-aos-delay="300">
                        <h2>İnsanlar bizim tariflerimizi <span>Çoooook Seviyor</span></h2>
                        <h3>İnternetteki en iyi yemek tarifleri</h3>
                    </div>
                </div>
                <div class="col-md-6 col1" data-aos="fade-right" data-aos-delay="500">
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" style="text-align: right">
                            <div class="active item">
                                <blockquote>
                                    <p>Sakarya üniversitesi Bilgisayar Mühendisliği Web Programlama Proje Ödevi</p>
                                </blockquote>
                                <div class="text1">Umut Sönmez <span>Bursa</span></div>
                                <div class="profile-circle1" style="background-color: rgba(0,0,0,.2); float: right;"></div>
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="500">
                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner">
                            <div class="active item">
                                <blockquote>
                                    <p>Sakarya üniversitesi Bilgisayar Mühendisliği Web Programlama Proje Ödevi</p>
                                </blockquote>
                                <div class="profile-circle2" style="background-color: rgba(0,0,0,.2);"></div>
                                <div class="text2">Serhat BİLAL <span>Sakarya</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quote"><i class="fa fa-quote-right fa-5x" aria-hidden="true"></i></div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="heading" data-aos="fade-up" data-aos-delay="300">
            <h2>Lezzetli <span><a href="recipes.html">Tariflere</a></span> Gözat</h2>
            <h3>İnternetteki en iyi yemek tarifleri burada yer almaktadır on binlerce tarif ve milyonlarca kullanıcı burada</h3>
        </div>
       
        <div class="row text-center text-lg-left">
            @foreach (var x in Model)
            {
                <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="900">
                    <div class="imageBox">
                        <a href="/lib/bootstrap/dist/images/item-1.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail" src="/lib/bootstrap/dist/images/item-1.jpg" alt="">
                            <div class="textBox">
                                <h5>@x.Name</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
            </div>
        
    </div>
</section>

