@model IEnumerable<recipes.Models.About>
<section class="banner-home"></section>
<!-- Banner section End-->
<!-- About Section Start -->
<div id="about-us">
    <div class="container">
        <h3>About us</h3>
        <div class="row" style="margin-right: 0; margin-left: 0;">
            <div data-aos="fade-up" data-aos-duration="800">
                <img src="/lib/bootstrap/dist/images/about-bg.jpg" alt="about-bg" class="thumbnail image">
                <p>
                    tting typesetting e indus
                </p>

            </div>
        </div>
    </div>
</div>
