<form method="post">
    <div class="row" data-aos="fade-up" data-aos-duration="800">
        <div class="col-sm-6 col1">
            <input type="text" class="form-control" placeholder="ID" name="RecipeId" disabled required>
        </div>
        <div class="col-sm-6 col1">
            <input type="text" class="form-control" placeholder="Adınız" name="Name" required>
        </div>
        <div class="col-sm-6 col1">
            <input type="email" class="form-control" placeholder="Mail adresiniz" name="Email" required>
        </div>
        <div class="col-sm-6 col1">
            <input type="text" class="form-control" placeholder="Tarih" name="Date" required>
        </div>
        <div class="col-sm-12 col1">
            <textarea class="form-control" name="UserComment" placeholder="Yorumunuz" rows="8" required></textarea>
        </div>
        <div class="col-sm-12 col1">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </div>
</form>
