@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş Yap";
}
<div class="row" style="width:500px; margin:0 auto;">
    <div class="col-md-12 align-items-md-center">
        <section>
            <div style="width:500px; margin:0 auto;">
                <h1>@ViewData["Title"]</h1>
            </div>
            <h3>Lütfen Hesap Bilgilerinizi giriniz!</h3>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
            </form>
        </section>
    </div>
    </div>